*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body {
  font-size: 1rem;
  line-height: 1.6;
  /* background-color: #FFC500; */
  font-family: 'Work Sans', sans-serif;
}
.nav-container{
  background-color:#FFC500;
  /* background: linear-gradient(0deg,black,#FFC500 40%); */
  /* linear-gradient(0deg, blue, green 40%, red); */
  /* width:100vw; */
}
.navbar-icons {
  color: whitesmoke;
  display: flex;
  padding-bottom:1%;
}

.nav-quote-btn {
  /* background:yellow; */
  display:flex;
  justify-content: center;
  padding-top:1%; 
  height:100%;
}
.quote-btn{
padding:10px;
margin:1%;
color:whitesmoke;
background-color:black;
border-radius: 40px 5px 50px 10px;
box-shadow:10px 5px 9px whitesmoke;
}
.logo{
  font-weight: 900;
  font-size: 2rem;
}
i{
  margin-right:5px;
  margin-left:20px;


}
nav{
  display:flex;
  padding-bottom: 15px;

}
.link-items {
  list-style-type: none;
  display:flex;
  justify-content: space-around;
  width:100%;
  text-decoration: none;

}
nav>ul>li>a{
  text-decoration: none;
  font-weight: 900;
  color:black;

}
.hero-section{
  position:relative;
}
.ReactPlayer{
  width: 100%;
  height: 80vh;
  /* position:relative; */
object-fit: cover;
}
video{
  object-fit:cover;
}
.hero-overlay {
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-wrapper-box{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  color:#fff; 
  background: linear-gradient(180deg,transparent 80%,black);

}
.hero-wrapper-box p{
  font-size:4.5rem;
  
}
.dream{
  font-size:5rem;
  background-color: #FFC500;
  color:black;
  border-color:black;
  border-width:3rem;
  border-radius:10px/20px;
  padding:5px;
  padding-top:20px;
  padding-bottom:20px;
}
.hero-message {
  /* color:red; */
  display:flex;
  /* word-wrap: break-word; */
  justify-content: center;
  align-items: center;
}

.discover-button{
  padding:28px;
  margin:6px;
  font-size: 2.5rem;
  background-color:black;
  color:#FFC500;
  /* align-items:center; */
  cursor:pointer;
  border-radius: 6%;
}
/* Styles for hamburger menu in tablet and mobile menu */
.show-mobile-nav{
  display:flex;
  justify-content: center;
  align-items:center;
  position:fixed;
  z-index: 9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: #FFC500;
  font-size: 3.5rem;

}
.mobile-link-items{
  display:flex;
  flex-direction: column;
  list-style-type: none;
  /* justify-content: space-around; */
  justify-content: space-between;
  /* width:100%; */
  height:100%;

}
.mobile-links{
  text-decoration: none;
  color:black;
  font-weight: 900;
  width: 100%;
  /* padding:5%; */
  /* margin:5%; */



}