* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 1rem;
  line-height: 1.6;
  /* background-color: #FFC500; */
  font-family: 'Work Sans', sans-serif;
}
.nav-container {
  background-color: #ffc500;
  /* background: linear-gradient(0deg,black,#FFC500 40%); */
  /* linear-gradient(0deg, blue, green 40%, red); */
  /* width:100vw; */
}
.follow-heading {
  margin-left: 1.9%;
  color: whitesmoke;
}
.navbar-icons {
  color: whitesmoke;
  display: flex;
  padding-bottom: 1%;
  margin-left: 0.5%;
}

.nav-quote-btn {
  /* background:yellow; */
  display: flex;
  justify-content: center;
  padding-top: 1%;
  height: 100%;
}
.quote-btn {
  padding: 10px;
  margin: 1%;
  color: whitesmoke;
  background-color: black;
  border-radius: 40px 5px 50px 10px;
  box-shadow: 10px 5px 9px whitesmoke;
  cursor: pointer;
}
.logo {
  font-weight: 900;
  font-size: 2.4rem;
}
i {
  margin-right: 5px;
  margin-left: 20px;
}
nav {
  display: flex;
  padding-bottom: 15px;
}
.link-items {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-decoration: none;
}
nav > ul > li > a {
  text-decoration: none;
  font-weight: 900;
  color: black;
  font-size: 1.8rem;
}
.hero-section {
  position: relative;
}
.ReactPlayer {
  width: 100%;
  height: 80vh;
  /* position:relative; */
  object-fit: cover;
}
video {
  object-fit: cover;
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-wrapper-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background: linear-gradient(180deg, transparent 80%, black);
}
.hero-wrapper-box p {
  font-size: 4.5rem;
}
.dream {
  font-size: 5rem;
  background-color: #ffc500;
  color: black;
  border-color: black;
  border-width: 3rem;
  border-radius: 10px/20px;
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.hero-message {
  /* color:red; */
  display: flex;
  /* word-wrap: break-word; */
  justify-content: center;
  align-items: center;
}

.discover-button {
  padding: 28px;
  margin: 6px;
  font-size: 2.5rem;
  background-color: black;
  color: #ffc500;
  /* align-items:center; */
  cursor: pointer;
  border-radius: 6%;
}
/* Styles for hamburger menu in tablet and mobile menu */
.show-mobile-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffc500;
  font-size: 3.5rem;
}
.mobile-link-items {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  /* justify-content: space-around; */
  justify-content: space-between;
  /* width:100%; */
  height: 100%;
}
.mobile-links {
  text-decoration: none;
  color: black;
  font-weight: 900;
  width: 100%;
  /* padding:5%; */
  /* margin:5%; */
}
.contact-icons {
  display: flex;
}
.hamburger-spacer {
  margin-right: 29px;
}
.footer-wrapper {
  height: auto;
  padding: 1%;
  background-color: #ffc500;
  /* margin:2%;--buffers out the container */
  display: flex;
  justify-content: space-between;
}

.footer-about-wrapper {
  padding: 1%;
  /* margin:.5%; */
  text-align: center;

  word-wrap: break-word;
  border-right: 5px solid whitesmoke;
}
.footer-contact-wrapper {
  padding: 2%;
  /* margin:1%; */
  word-wrap: break-word;
  text-align: center;
  border-right: 5px solid whitesmoke;
}
.footer-contact-wrapper i {
  padding: 15px;
}
.footer-email-link {
  text-decoration: none;
  color: black;
}
.footer-newsletter-wrapper {
  padding: 2%;
  /* margin:1%; */
  text-align: center;
  word-wrap: break-word;
}
.email-phone-icon-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.counter-wrapper {
  display: flex;
  justify-content: space-around;
  background-color: #ffc500;
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
}
.counter-items {
  font-size: 3.2rem;
  width: 100%;
  height: 100%;
}
.counter-title {
  width: 100%;
  height: 100%;
}

.service-card-container {
  /* display:flex; */
  /* justify-content: center; */
  padding: 20px;
  /* margin:25px; */
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

.service-card-row1 {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  width: 100%;
  height: 100%;
}
.service-card-row2 {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  margin-top: 40px;
  width: 100%;
  height: 100%;
}
.flipcard-container {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  padding: 3px;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 1.6rem;
  /* background-color:#FF9900; */
  background: rgb(131, 58, 180);
  background: linear-gradient(
    35deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 62%,
    rgba(252, 176, 69, 1) 100%
  );
  /* border:solid 3px red; */
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}
.card-icon {
  display: flex;
  justify-content: center;
  padding: 16px;
}

/* for framer motion nav menu etc */
.body-nav-wrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #0055ff 0%, rgb(0, 153, 255) 100%);
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}
.framer-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}

.framer-btn-menu {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

.framer-li,
.framer-ul {
  margin: 0;
  padding: 0;
}

.framer-ul{
    padding: 25px;
    position: absolute;
    top: 100px;
    width: 230px;
  }

.framer-li{
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 744px) {
  div.FramerNavMenu {
    display:none;
  }
}